.add-items {
    width: 100%;
    height: 110vh;
    background-image: url(../../Helpers/CarouselImage/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .container {
   padding: 0;
    margin-top: 300px;
    margin-bottom: 300px;
    width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
border-radius: 15px;
    background: rgba(255, 255, 255, 0.836);  
 }

 .container2{
    width: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* background-image: url('../../images/addItems-hanger-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;*/
  }

  .selectMsg{
    font-size: 20px;
    margin: 10px 0 0 0;
  }

  .errorMsg{
    margin: 0;
    color: red;
    font-size: 28px;
    position: relative;
    top: 200px;
    background-color: rgb(255,255,255, 0.5);
  }
  
 .addedMsg {
    margin: 0;
    font-size: 28px;
    color: #eb5b8c;
    position: relative;
    top: 200px;
    background-color: rgb(255,255,255, 0.5);
  }

  .imgPreview{
    width: 100%;
    height:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: antiquewhite;
    border-radius:15px;
  }
  
  .imgPreview input[type="file"]{
    display: none;
  }
  
  .imgPreview .customFileUpload{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .customFileUpload p{
    overflow: hidden;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: customFileUploadAnim 1.5s steps(25, end);
  }

  @keyframes customFileUploadAnim{
    from { width: 0 }
    to { width: 100% }
  }

  button {
    border: none;
    border-radius: 10px;
    outline: none;
    width: 250px;
    height: 40px;
    margin:10px 10px;
    padding: 10px 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #eb5b8c;
    color: white;
    font-size: 90%;
    font-weight: 600;
    cursor: pointer;
  }

  button:hover{
    width: 260px;
    height: 50px;
    margin-bottom: 0;
  }


 span:hover{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  animation: btnLetters 1s infinite;
  }


  @keyframes btnLetters {
    from { color: #eb5b8c }
    to {color: white}
  }

  .arrow{
    margin: 10px;
    position: relative;
    border-right: 30px solid transparent;
    border-left:30px solid transparent;
    border-top: 20px solid  #eb5b8c;
    animation:1.5s linear 1s infinite running moveArrow;
  }
  @keyframes moveArrow{
    from{
     top: -5px;
     border-top: 20px solid transparent;
      }
    to{
      top: 5px;
      border-top: 20px solid  #eb5b8c;
      }
  }

  select{
    margin: 5px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-align-last:center;
  
  }

  select:hover{
    border: 3px solid #e4b5e0;
  }