.main {
    width: 100%;
    height: 90vh;
    background-image: url(../../Helpers/CarouselImage/homePage_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-combinatin {
    border-radius: 15px;
    width: 500px;
    height: 60vh;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
}

.shoes {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.bottom {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.else {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 90%;
    height: 90%;
}

h2 {
    text-align: center
}

.results {
    /* position: relative; */
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    color: #eb5b8c;
    /* grid-row: 1 / 3;
  grid-column: 1/3; */
    z-index: 1;
}

.buttons {
    /* grid-column: 2 / 3; 
    grid-row: 2 / 3; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 80%;
}


/* button {
    display: inline-block;
    align-self: flex-end;
} */

.findMeButton,
.likeButton {
    line-height: 100%;
    margin: 5px;
    padding: 10px 10px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eb5b8c;
    /* border: solid 50px rgba(255, 255, 255, 0.192); */
    width: 240px;
    height: 40px;
    /* height: 25%; */
    border-radius: 10px;
    color: white;
    /* font-size: 18px; */
    font-size: 90%;
    cursor: pointer;
}

.findMeButton:hover {
    width: 260px;
    height: 50px;
    margin: 0;
}

span:hover {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    animation: btnLetters 1s infinite;
}

@keyframes btnLetters {
    from {
        color: #eb5b8c
    }
    to {
        color: white
    }
}

div button.findMeButton.likeButton {
    line-height: 100%;
    font-size: 90%;
    height: 25%;
    width: 240px;
    height: 40px;
}

div button.findMeButton.likeButton:hover {
    width: 260px;
    height: 50px;
    margin: 0;
}