.collection-card{
  display: flex;
    justify-content: center;
}
.Collection_Item{
    border-radius: 15px;
    width: 400px;
    height: 400px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: white;


  }
  img{
    width:80%;
    height:80%;
    align-self: center;
    justify-self: center;
    object-fit: contain

  }
  
.liked-shoes {
  grid-column: 1 / 2; 
  grid-row: 2 / 3;
}
.liked-bottom {
  grid-column: 2 / 3; 
  grid-row: 1 / 3;
}
.liked-top {
  grid-column: 1 / 2; 
  grid-row: 1 / 2;
}
.liked-dress {
  grid-column: 1 / 2; 
  grid-row: 1 / 3;
}

  /* .collection-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   */

.delete_icon{
    border: none;
    background: none;
    color: #eb5b8c;
    cursor: pointer;
    font-size: xx-large;
}

.delete_icon:hover{
    transform: scale(1.3);

}
